<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<p>Previous Searches</p>
<div class="list-group" th:each="request:${requestList}">
    <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <span th:text="${request.date}"></span>
            <p th:utext="${request.zipCode}"></p>
        </div>
    </div>
</div>
</body>
</html>